[submodule "jasmine"]
	path = jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "benchmark.js"]
	path = benchmark.js
	url = https://github.com/bestiejs/benchmark.js.git
[submodule "knockout"]
	path = knockout
	url = https://github.com/SteveSanderson/knockout.git
